<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="voidblog.dao.UserDao">

    <resultMap id="UserBaseMap" type="voidblog.domain.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="logindate" property="loginDate" jdbcType="DATE"/>
    </resultMap>

    <select id="findById" parameterType="java.lang.Long" resultMap="UserBaseMap">
        SELECT * FROM user
        WHERE id = #{id}
    </select>

    <!--<select id="selectUserByName" resultMap="UserBaseMap">-->
        <!--SELECT * FROM user-->
        <!--WHERE name = #{userName}-->
    <!--</select>-->

    <!--<select id="selectUserByNameAndPassword" resultMap="UserBaseMap">-->
        <!--SELECT * FROM user-->
        <!--WHERE name = #{userName} and password = #{userPassword}-->
    <!--</select>-->

    <select id="findAll" resultMap="UserBaseMap">
        SELECT * FROM user
    </select>

</mapper>